:host {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 2px;
}

:host(.active-tag) {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
