.text-16px-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.text-14px-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.text-12px-bold {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.text-16px-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.text-14px-medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.text-12px-medium {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.text-16px-regular {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.text-14px-regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.text-12px-regular {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
