:root {
  --primary-color: #ae7aff;
  --secondary-color-01: #fae8a4;
  --secondary-color-02: #e99898;
  --secondary-color-03: #98e9ab;
  --grey-color: #5f646d;
  --dark-color: #000;
  --light-color: #fff;
}
