<div class="profile-card">
    <div class="avatar-name">
        <img src="/assets/imgs/avatar.png" alt="avatar" class="profile-card__avatar">
        <div class="profile-card__name">
            <strong class="h6">Rayn Gost</strong>
            <span class="subtitle">rrrr</span>
        </div>
    </div>

    <div class="profile-card__description">
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    </div>

    <div class="profile-card__tags">
        <div class="skill-tag">AAA</div>
    </div>

    <div class="profile-card__action-btns">
        <button class="btn">Подписаться</button>
    </div>

</div>
