:host {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
  position: relative;
}

.header {
  background: var(--dark-color);
  margin-bottom: 16px;
  display: none;
}

.burger {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--light-color);

  &:hover {
    color: var(--primary-color);
  }
}

.overlay {
  display: none;
}

app-sidebar {
  transition: transform 0.3s ease;
}

.main-content {
  padding: 24px;
  overflow: auto;
}

@media (width <= 1200px) {
  :host {
    display: block;
  }

  .burger {
    display: flex;
  }

  .main-content {
    padding-top: 72px; // место под бургер
  }

  app-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    transform: translateX(-100%);
    z-index: 15;

    &.open {
      transform: translateX(0);
    }
  }

  .overlay {
    display: block;
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 40%);
    z-index: 10;
  }
}
