:host {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.header {
  display: none;
}

.burger {
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--light-color);

  &:hover {
    color: var(--primary-color);
  }
}

.overlay {
  display: none;
}

app-sidebar {
  transition: transform 0.3s ease;
}

.main-content {
  padding: 24px;
  overflow: auto;
}

@media (width <= 1200px) {
  :host {
    display: flex;
    flex-direction: column;
    height: 100dvh;
  }

  .header {
    background: var(--dark-color);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 24px;
    flex-shrink: 0;
  }

  .main-content {
    flex: 1;
    min-height: 0;
    overflow: auto;
  }

  app-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    transform: translateX(-100%);
    z-index: 15;

    &.open {
      transform: translateX(0);
    }
  }

  .overlay {
    display: block;
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 40%);
    z-index: 10;
  }
}
