.sidebar-item {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
  border: none;
  background: inherit;
  color: var(--light-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  width: 100%;

  &:hover,
  &:focus-visible {
    border-radius: 2px;
    background: var(--dark-hover-color);
    color: var(--primary-color);
  }

  &:active {
    transform: scale(0.98);
  }
}

.number-messages {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  max-width: max-content;
  padding: 2px 6px;
  color: var(--dark-color);
}
