<!-- profile-header -->
<div></div>

<form class="form-settings">
  <div class="form-settings__name">
    <!-- <app-input-form /> -->
    <input type="text" />
  </div>

  <input type="text" />
  <input type="text" />

  <div class="actions">
    <div class="actions__">
      <button type="button">удалить</button>
      <button type="button">выйти</button>
    </div>
    <div class="">
      <button type="button">Отмена</button>
      <button type="button">Сохранить</button>
    </div>
  </div>
</form>
