<!-- profile-header -->
<div></div>

<form class="form-settings" [formGroup]="formSettings" (ngSubmit)="onSave()">
  <div class="form-settings__name">
    <app-input-form title="Имя" type="text" placeholder="Введите данные" formControlName="firstName" id="firstName" />
    <app-input-form title="Фамилия" type="text" placeholder="Введите данные" formControlName="lastName" id="lastName" />
  </div>

  <app-input-form title="Фамилия" type="text" placeholder="Введите данные" formControlName="lastName" id="lastName" />

  <app-input-form
    title="О себе"
    type="text"
    placeholder="Введите данные"
    formControlName="description"
    id="description"
  />

  <div class="actions">
    <div>
      <button type="button">удалить</button>
      <button type="button">выйти</button>
    </div>
    <div>
      <button type="button">Отмена</button>
      <button type="submit">Сохранить</button>
    </div>
  </div>
</form>
