<!-- profile-header -->
<div></div>

<form class="form-settings" [formGroup]="formSettings">
  <div class="form-settings__name">
    <app-input-form />
    <app-input-form />
  </div>

  <input type="text" />
  <input type="text" />

  <div class="actions">
    <div class="actions__">
      <button type="button">удалить</button>
      <button type="button">выйти</button>
    </div>
    <div class="">
      <button type="button">Отмена</button>
      <button type="button">Сохранить</button>
    </div>
  </div>
</form>
