<img
  alt=""
  class="img-logo"
  priority
  [height]="74"
  [ngSrc]="'assets/icons/logo-mini.svg'"
  [width]="61"
/>

<div class="sidebar-list">
  <button class="sidebar-item" type="button">
    <img
      alt=""
      priority
      [height]="12"
      [ngSrc]="'assets/icons/navbar/my-page.svg'"
      [width]="14"
    />
    <p>Моя страница</p>
  </button>

  <div class="chat">
    <button class="sidebar-item" type="button">
      <img
        alt=""
        priority
        [height]="13"
        [ngSrc]="'assets/icons/navbar/chats.svg'"
        [width]="13"
      />
      <p>Чаты</p>
    </button>
    <div class="number-messages text-btn-12px">28</div>
  </div>

  <button class="sidebar-item" type="button">
    <img
      alt=""
      priority
      [height]="13"
      [ngSrc]="'assets/icons/navbar/search.svg'"
      [width]="13"
    />
    <p>Поиск</p>
  </button>
</div>

<div class="subscribers">
  <p class="subscribers__title text-12px-medium">Подписчики</p>

  <div class="subscribers__list">
    @for (
      subscriber of ['Сара Коннор', 'Кристанна Локен', 'Майкл Уинслоу'];
      track $index
    ) {
      <button class="subscribers__item" type="button">
        <img
          alt=""
          class="img-border-radius"
          [height]="32"
          [ngSrc]="'assets/images/avatar.png'"
          [width]="32"
        />
        <p>{{ subscriber }}</p>
      </button>
    }
  </div>

  <button class="subscribers__all" type="button">
    <p class="text-12px-medium">Все подписчики</p>
    <img
      alt=""
      priority
      [height]="9"
      [ngSrc]="'assets/icons/navbar/arrow.svg'"
      [width]="6"
    />
  </button>
</div>

<div class="settings">
  <button class="sidebar-item" type="button">
    <img
      alt=""
      class="img-border-radius"
      [height]="32"
      [ngSrc]="'assets/images/avatar.png'"
      [width]="32"
    />
    <p>ryan.gosling</p>
  </button>

  <img
    alt=""
    class="settings-icon"
    priority
    [height]="13"
    [ngSrc]="'assets/icons/navbar/settings.svg'"
    [width]="13"
  />
</div>
