@import 'assets/styles/tags.scss';
@import 'assets/styles/buttons.scss';
@import 'assets/styles/fonts.scss';
@import 'assets/styles/headlines.scss';
@import 'assets/styles/text-labels-for-buttons';
@import 'assets/styles/margins';
@import 'assets/styles/inputs';
@import 'assets/styles/secondary-text-labels';

:root {
  --primary-color: #ae7aff;
  --secondary-color-01: #fae8a4;
  --secondary-color-02: #e99898;
  --secondary-color-03: #98e9ab;
  --grey-color: #5f646d;
  --dark-color: #000000;
  --light-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'JetBrains Mono', sans-serif;
  background: var(--dark-color);
  color: var(--light-color);
  background-image: url(/assets/images/background.png);
}
