.btn-primary-default {
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 0 20px;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.3s;
  border: 1px solid var(--dark-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  height: 44px;

  &:hover {
    background: linear-gradient(0deg, rgb(0 0 0 / 20%), rgb(0 0 0 / 20%)), linear-gradient(0deg, #ae7aff, #ae7aff);
  }

  &:active {
    background:
      linear-gradient(0deg, rgb(255 255 255 / 80%), rgb(255 255 255 / 80%)), linear-gradient(0deg, #ae7aff, #ae7aff);
  }
}

.body-button {
  display: flex;
  gap: 8px;
}
