.tt-control-lable-login {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.tt-control-input-login {
  display: block;
  margin-top: 8px;
  border: 1px solid var(--light-color);
  border-radius: 2px;
  height: 44px;
  background: var(--dark-color);
  padding: 12px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: 'JetBrains Mono', sans-serif;
  color: var(--light-color);
  width: 100%;

  &::placeholder {
    color: #ffffffbf;
  }
}
