.subscriber-card {
  display: flex;
  gap: 12px;
  padding: 8px 0;
  align-items: center;
  border: none;
  background: inherit;
  color: var(--light-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

.img-border-radius {
  border-radius: 50%;
}
