<img alt="" class="img-logo" priority [height]="74" [ngSrc]="'assets/icons/logo/logo-mini.svg'" [width]="61" />

<nav>
  <ul class="sidebar-list">
    @for (item of menuItems; track item.link) {
      <li>
        <app-sidebar-nav-item [item]="item" />
      </li>
    }
  </ul>
</nav>

<section class="subscribers">
  <p class="subscribers__title text-12px-medium">Подписчики</p>
  @if (subscribers$ | async; as subscribers) {
    <div class="subscribers__list">
      @for (subscriber of subscribers; track subscriber.id) {
        <app-sidebar-user-item [profile]="subscriber" [link]="'/profile/' + subscriber.id" />
      }
    </div>

    <a class="subscribers__all">
      <p class="text-12px-medium">Все подписчики</p>
      <img alt="" priority [height]="9" [ngSrc]="'assets/icons/navbar/arrow.svg'" [width]="6" />
    </a>
  } @else {
    <div class="subscribers__list">
      @for (subscriber of loaderSubscribers; track $index) {
        <div class="subscribers__loader">
          <app-loader />
        </div>
      }
    </div>
  }
</section>

<footer class="settings">
  @if (me(); as me) {
    <app-sidebar-user-item [profile]="me" link="/settings" [showIconSettings]="true" />
  } @else {
    Загрузка...
  }
</footer>
