<img alt="" class="img-logo" priority [height]="74" [ngSrc]="'assets/icons/logo/logo-mini.svg'" [width]="61" />

<nav>
  <ul class="sidebar-list">
    @for (item of menuItems; track $index) {
      <li>
        <app-sidebar-item [item]="item" />
      </li>
    }
  </ul>
</nav>

<div class="subscribers">
  <p class="subscribers__title text-12px-medium">Подписчики</p>

  <div class="subscribers__list">
    @if (subscribers$ | async; as subscribers) {
      @for (subscriber of subscribers; track $index) {
        <pre>{{ subscriber.firstName }}</pre>
      }
    }
  </div>

  <button class="subscribers__all" type="button">
    <p class="text-12px-medium">Все подписчики</p>
    <img alt="" priority [height]="9" [ngSrc]="'assets/icons/navbar/arrow.svg'" [width]="6" />
  </button>
</div>

<div class="settings">
  @if (profile(); as profile) {
    <app-settings-item [profile]="profile" />
  }
</div>
